@page
@using WeatherApp.Model
@model WeatherApp.Pages.Forecast.ForecastCallModel
@{
	ViewData["Title"] = "Forecast";
}

<h1>Forecast</h1>

<a asp-page="ForecastCall" asp-page-handler="Download" class="btn btn-primary">Download Data</a>

@if (Model.RequestContent != null)
{
	<ul class="list-inline">
		<li><b>Forecast in @Model.ForecastModel.city.name, @Model.ForecastModel.city.country</b></li>
		<li>Coordinate: [@Model.ForecastModel.city.coord.lon, @Model.ForecastModel.city.coord.lat]</li>
		<li>Time of last refresh: @Model.ForecastModel.list[0].dt_txt</li>
	</ul>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Date</th>
				<th>Temperature</th>
				<th>Weather description</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var f in Model.ForecastModel.list)
			{
				foreach (var w in f.weather)
				{
					<tr>
						<th>
							@Weather.UnixTimeStampToDateTime(f.dt).DayOfWeek
						@Weather.UnixTimeStampToDateTime(f.dt).Day/@Weather.UnixTimeStampToDateTime(f.dt).Month
						@Weather.UnixTimeStampToDateTime(f.dt).Hour:00
					</th>
					<th>@f.main.temp &#8451;</th>
					<th>@w.description</th>
				</tr>
			}

		}
		</tbody>
	</table>
}

