@page "{cityId:int}"
@using WeatherApp.Model
@model WeatherApp.Pages.Weather.DetailsModel
@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (Model.RequestContent != null)
{
	<ul class="list-inline">
		<li><b>Weather in @Model.WeatherModel.name, @Model.WeatherModel.sys.country</b></li>
		<li>Coordinates: [@Model.WeatherModel.coord.lat, @Model.WeatherModel.coord.lon]</li>
		<li>@Weather.UnixTimeStampToDateTime(Model.WeatherModel.dt)</li>
	</ul>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Temperature</th>
				<th>Clouds</th>
				<th>Humidity</th>
				<th>Pressure</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Model.WeatherModel.main.temp &#8451;</td>
				<td>@Model.WeatherModel.weather[0].description</td>
				<td>@Model.WeatherModel.main.humidity %</td>
				<td>@Model.WeatherModel.main.pressure hPa</td>
			</tr>
		</tbody>
	</table>
}
