@page "{cityId:int}"
@using WeatherApp.Model
@model WeatherApp.Pages.Weather.DetailsModel
@{
	ViewData["Title"] = "Weather";
}

<h1>Weather</h1>

@if (Model.RequestContent != null)
{
	<ul class="list-inline">
		<li><b>@Model.WeatherModel.name, @Model.WeatherModel.sys.country</b></li>
		<li>Coordinates: [@Model.WeatherModel.coord.lat, @Model.WeatherModel.coord.lon]</li>
		<li>@Weather.UnixTimeStampToDateTime(Model.WeatherModel.dt)</li>
	</ul>
	<table id="model" class="table table-striped table-bordered display" style="width:100%">
		<thead>
			<tr>
				<th>Temperature</th>
				<th>Clouds</th>
				<th>Humidity</th>
				<th>Pressure</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Model.WeatherModel.main.temp &#8451;</td>
				<td>@Model.WeatherModel.weather[0].description</td>
				<td>@Model.WeatherModel.main.humidity %</td>
				<td>@Model.WeatherModel.main.pressure hPa</td>
			</tr>
		</tbody>
	</table>
}

@section Scripts
	{
	<environment include="Development">
		<script src="~/lib/datatables/js/jquery.dataTables.js"></script>
		<script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
		<link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/w/bs4/dt-1.10.18/datatables.min.css" />
		<script type="text/javascript" src="https://cdn.datatables.net/w/bs4/dt-1.10.18/datatables.min.js"></script>
	</environment>

	<script>
		$(document).ready(function () {
			$('#model').DataTable({
				"processing": true,
				"searching": false,
				"scrollX": true,
				"paging": false,
				"info": false,
				"ordering": false
			});
		}
		);
	</script>
}
