@page "{cityId:int}"
@using WeatherApp.Model
@model WeatherApp.Pages.Weather.DetailsModel
@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (Model.RequestContent != null)
{
	<ul class="list-inline">
		<li><b>Weather in @Model.WeatherModel.name, @Model.WeatherModel.sys.country</b></li>
		<li>Coordinate: [@Model.WeatherModel.coord.lon, @Model.WeatherModel.coord.lat]</li>
		<li>@Weather.UnixTimeStampToDateTime(@Model.WeatherModel.dt)</li>
	</ul>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Temperature</th>
				<th>Clouds</th>
				<th>Humidity</th>
				<th>Pressure</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>@Model.WeatherModel.main.temp &#8451;</th>
				<th>@Model.WeatherModel.weather[0].description</th>
				<th>@Model.WeatherModel.main.humidity %</th>
				<th>@Model.WeatherModel.main.pressure hPa</th>
			</tr>
		</tbody>
	</table>
}
